#!/usr/bin/make -f

export JAVA_HOME=/usr/lib/jvm/default-java

%:
	dh $@ --with javahelper

override_dh_auto_build:
	# Build the package
	mvn -s ~/.m2/settings.xml package
	pwd
	cp target/metricsd-*-jar-with-dependencies.jar metricsd.jar

override_dh_auto_clean:
	mvn -s ~/.m2/settings.xml clean
	rm -f metricsd.jar
